.movie-title {
  font-weight: 600;
}

.movie-year {
  font-size: 18px;
  margin: 5px 0;
  font-style: italic;
}

.watchlist-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.watchlist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 154px;
  margin: 10px;
}

.below-image {
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 48px;
}

.delete-button,
.delete-button:active {
  background-color: transparent;
  border: none;
  outline: none;
}

.fa-minus-square {
  font-size: 20px;
}

.back-home,
.back-home:active {
  background-color: transparent;
  color: red;
  font-size: 18px;
  border: none;
  outline: none;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}

@media only screen and (min-width: 600px) {
  .watchlist-grid {
    flex-flow: wrap;
    align-items: flex-end;
  }
}
