.main {
  display: flex;
}

.search-section {
  flex: 1;
}

.movie-section {
  flex: 2;
  /* display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto; */
  display: flex;
  flex-flow: wrap;
  align-items: flex-end;
  margin: 20px;
}
