<head>
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
  />
</head>
<body class="body">
  <h1 class="title title-font">Watch & Learn</h1>
  <section class="main">
    <div class="form">
      <select
        id="language"
        name="language"
        class="dropdown"
        placeholder="Language"
      >
        <option value="en">English</option>
        <option value="sp">Spanish</option>
        <option value="fr">French</option>
        <option value="ge">German</option>
      </select>
      <select id="decade" name="decade" class="dropdown" placeholder="Decade">
        <option value="1900">1900's</option>
        <option value="1910">1910's</option>
        <option value="1920">1920's</option>
        <option value="1930">1930's</option>
      </select>
      <input
        type="text"
        class="keyword"
        placeholder="Keyword (optional)"
        maxlength="10"
      />
    </div>
    <a href="#" class="title-font submit">Submit</a>
  </section>
</body>
